.header--container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header--input{
    border:none;
    border-radius:20px;
    padding:10px;
}

.header--input:focus{
    outline:none;
}

.header--button{
    margin-left:10px;
    padding:5px;
    border:none;
    background-color:cornflowerblue;
    color:white;
    border-radius:7px;
}